<ul>
    <li ng-repeat="item in data | startFrom:currentPage*pageSize | limitTo:pageSize">
        <a ng-click="getitem(item)" href="#{{item}}">{{item}}</a>
    </li>
</ul>
<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
    Previous
</button>
{{currentPage+1}}/{{numberOfPages()}}
<button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
    Next
</button>

<hr>

<pre class="raw">{{ itemdata.raw }}</pre>
<div class="breakdown" ng-bind-html="displayprocessed() | unsafe"></div>