<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Inbox viewer</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  
</head>

<body ng-app="app">

<div ng-controller="ctrl">

<div ng-repeat="file in files"> {{file}}</div>

</div>


  
<script src="scripts/vendor/underscore.js"></script>
<script src="scripts/vendor/jquery.js"></script>
<script src="scripts/vendor/angular.js"></script>

<script src="scripts/main.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/controllers.js"></script>


<link rel="stylesheet" href="styles/vendor/bootstrap.min.css">
<link rel="stylesheet" href="styles/vendor/bootstrap-theme.min.css">
<link rel="stylesheet" href="styles/styles.css">
    
</body>
</html>
